{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "mocha": true,
        "node": true
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "no-console": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "react/prop-types": 0
    },
    "settings": {
        "propWrapperFunctions": ["forbidExtraProps"]
    }
}
